<div class="m-3 p-4 rounded rounded-2 shadow">
    <div class="centerDiv">
        <div>
        <h3>{{ coin.symbol }}</h3>
        </div>
        <div class="mb-2">
        <h5>{{ coin.name }}</h5>
        </div>
        <p>Price: {{priceData}}</p>
        <p>Circulating supply: {{coin.circulatingSupply}}</p>
        <p>Total supply: {{coin.totalSupply}}</p>
        <div class="d-flex buttons gap-2">
            <button class="btn btn-outline-dark" (click)="getPrice()">Get price</button>
            <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editCoin()">Edit</button>
            <button class="btn btn-outline-danger" (click)="removeCoin()">Delete</button>
        </div>
    </div>
</div>
